# Local files
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Local plugins
.terraform/

# Variables
# *.tfvars
# *.tfvars.json

# Crash log
crash.log

# Ignore terraform.tfvars as it might contain secrets
# terraform.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json